body {
  font-family: 'Inter', sans-serif;
  background-color: #e0f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 36px;
  color: #00796b;
  margin-bottom: 20px;
  text-transform: uppercase;
}

canvas {
  border: 4px solid #004d40;
  background-color: #fafafa;
  border-radius: 10px;
}

#scoreContainer {
  margin-top: 10px;
}

#score {
  font-size: 24px;
  color: #004d40;
}

.primary-btn {
  padding: 10px 20px;
  background-color: #00796b;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.primary-btn:hover {
  background-color: #004d40;
}